@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

:root {
    --primary-color: #E4E8E8;
    --secondary-color: #A9B3CE;
    --accent1-color: #E7B1D1;
    --accent2-color: #474954;

    --heading-font: 'Madimi One', serif;
    --body-font: 'Open Sans', sans-serif;

    --nav-background-color: #E4E8E8;
    --nav-link-color: #A9B3CE;
    --nav-hover-link-color: #E7B1D1;
    --nav-hover-background-color: #474954;
}

body {
    font-family: var(--body-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link,
nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
